<ul data-role='listview' {{#if containerTheme}} data-theme='{{containerTheme}}' {{/if}} data-inset='false' class='child-list'>
    {{#each list}}
        <li class='child-list-item' {{#if ../childTheme}} data-theme='{{../../childTheme}}' {{/if}}>
            <div class='user'>
                <a href='javascript:void(0)'>
                    <img src='{{avatar_url}}' class='avatar'/>
                    <h1 class='username'>{{user_name}}</h1>
                </a>

            </div>
            <div class='content'>
                {{render content}}
            </div>
        </li>
    {{/each}}
</ul>
