<ul data-role='listview' {{#if containerTheme}} data-theme='{{containerTheme}}' {{/if}} data-inset='false' class='commit-list'>
    {{#each list}}
        <li data-role='collapsible' data-inset='false' class='commit-list-item' data-url='{{content.url}}' {{#if ../childTheme}} data-theme='{{../../childTheme}}' {{/if}}>
            <h3 class='collapsible-header' data-inset='false'>
                {{#if avatar_url}}
                <div class='user'>
                    <a href='javascript:void(0)' data-url='{{user_url}}' class="user-link">
                        <img src='{{avatar_url}}'/>
                        <h1 class='username' data-username="{{user_name}}">{{user_name}}</h1>
                    </a>
                </div>
                {{/if}}
                <div class='item-content'>
                    {{{renderCommit content}}}
                </div>
            </h3>
        </li>
    {{/each}}
</ul>
