<ul data-role='listview' {{#if containerTheme}} data-theme='{{containerTheme}}' {{/if}} data-inset='true'>
    <li class='directory-list-item' data-name='..' data-type='dir' data-link='..' data-path='..' id="upDir">
        <a href='javascript:void(0)'>
            <img src='{{getItemIcon "dir"}}'/>
            <h1 class='itemName'>..</h1>
        </a>
    </li>
    {{#each list}}
    <li class='directory-list-item' data-name='{{name}}' data-type='{{type}}' data-link='{{link}}' data-path='{{path}}'>
        <a href='javascript:void(0)'>
            <img src='{{getItemIcon type}}'/>
            <h1 class='itemName'>{{name}}</h1>
        </a>
        <div id='file-{{name}}'>
        </div>
    </li>
    {{/each}}
</ul>
