<ul data-role='listview' {{#if containerTheme}} data-theme='{{containerTheme}}' {{/if}} data-inset='false'>
    {{#isRoot isRoot}}
    <li class='directory-list-item' data-name='..' data-type='dir' data-link='..' data-path='..' id="upDir">
        <a href='javascript:void(0)'>
            <img src='{{getItemIcon "dir"}}'/>
            <h1 class='itemName'>..</h1>
        </a>
    </li>
    {{/isRoot}}
    {{#each list}}
    <li class='directory-list-item' data-name='{{name}}' data-type='{{type}}' data-link='{{link}}' data-path='{{path}}' {{#notFolder type}}data-role="collapsible"{{else}}{{/notFolder}}>
        {{#notFolder type}} 
            <h3 class="collapsible-header">
                <img src='{{getItemIcon type}}'/>
                <span class="file-name">{{name}}</span>
            </h3>
            <div id='file-{{name}}' class="collapsible-content file-content overthrow">
            </div>
        {{else}}
            <a href='javascript:void(0)'>
                <img src='{{getItemIcon type}}'/>
                <span class="folder-name">{{name}}</span>
            </a>
        {{/notFolder}}
    </li>
    {{/each}}
</ul>
