<ul data-role='listview' {{#if containerTheme}} data-theme='{{containerTheme}}' {{/if}} data-inset='true' class='following-list'>
{{#each list}}
    <li class='following-list-item' {{#if ../childTheme}} data-theme='{{../../childTheme}}' {{/if}}>
        <a href='javascript:void(0)' data-url='{{url}}' class="user-link">
            <img src='{{avatar_url}}'/>
            <h1 class='username' data-username='{{login}}'>{{login}}</h1>
        </a>
    </li>
{{/each}}
