<ul data-role='listview' {{#if containerTheme}} data-theme='{{containerTheme}}' {{/if}} data-inset='false' class='user-list'>
    {{#each list}}
        <li class='user-list-item' {{#if ../childTheme}} data-theme='{{../../childTheme}}' {{/if}}>
            <a href='javascript:void(0)' data-url='{{user_url}}' class="user-link">
                <img src='{{avatar_url}}'/>
                <h1 class='username' data-username='{{user_name}}'>{{user_name}}</h1>
            </a>
        </li>
    {{/each}}
</ul>
