{{#each list}}
  <h2>{{login}}</h2>
  <img class='thumbnail-med' src="{{avatar_url}}"></img>
  {{gravatar_id}}
  {{url}}
  {{name}}
  {{company}}
  {{blog}}
  {{location}}
  {{email}}
  {{hireable}}
  {{bio}}
  {{public_repos}}
  {{public_gists}}
  {{followers}}
  {{following}}
  {{html_url}}
  {{created_at}}
  {{type}}
{{/each}}
